#App{
	background: #F2F2F2;
}
.categories{
	margin-top: 2px;
}
.categories_container{
	display: flex;
	justify-content: center;
}

.categories_container{
	border-bottom:1px solid #F2F2F2;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 11px 17px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 17px -7px rgba(0,0,0,0.75);
box-shadow: 0px 11px 17px -7px rgba(0,0,0,0.75);
}