.Header{
	width: 100%;
	background:#6F0F11;
	padding-bottom: 10px;
}

.Header img{
	margin-top:10px;
	margin-bottom: 4px;
}
.Header__menu{
	margin-top:2px;
	padding:0px;
	display: flex;
	
}
.Header__menu__bar{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content:space-between;

}
.Header__menu__bar svg{
	margin-right: 10px;
}

.Header__menu svg {
	font-size: 30px;
	color:white;
}

.Header input{
	border-radius: 40px;
	width: 275px;
	height: 30px;
	border:0;
}
