.banner{
	margin-top:10px;
	

-webkit-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 21px 0px rgba(0,0,0,0.75);
}

.banner_img{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 7px;
}
.banner_circles{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-bottom: 4px;
}
.banner_circles svg{
	text-align: center;
	margin-left:3px;
	margin-right:3px;
	color:#D9D9D9;

}
.banner_circles svg:first-child{
	color:#2b7a00;
}

.banner_img img{
	border-radius: 10px;
}